.navbar.bg-body-tertiary {
  background-color: black !important;
}

/* 네비게이션 바의 텍스트 색상을 흰색으로 변경 */
.navbar .nav-link {
  color: white 
}

.logo-img {
  width: 90px;
  height: 40px;
  max-height: 40px; /* 최대 높이를 50px로 설정 */
}







